@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
*{
    font-family:  Comfortaa , Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body{
    padding:0;
    margin:0;
}
  
:root{
    --primary-color:#407BFF;
}
.p-button:enabled:hover{
    background-color: #0044d8;
    border-color: #0044d8;
    color: #fff;
}
.p-button.p-button-text:enabled:hover{
    background-color: #0044d860;
    color: #002d8f;
}